
<div class="container userForm"><br><br>
  <h2 class="text-center">User Form</h2>
  <hr><br><br>
<form #userForm="ngForm" (ngSubmit)="submitData(userForm)">
  <div class="form-group"><label>First Name: </label><input class="form-control" type="text" name="firstName" placeholder="Enter First Name" required ngModel><br></div>
  <div class="form-group"><label>Last Name: </label><input type="text" class="form-control" name="lastName" placeholder="Enter last Name" required ngModel><br></div>
  <div class="form-group"><label>User Id: </label><input (blur)=checkUserId(userId) type="text" class="form-control" name="userId" #userId placeholder="Enter User ID" required ngModel></div>
  <p class="text-danger" *ngIf="userIdValidate"> User Id already exist</p><br>
  <div class="form-group"><label>Password: </label><input type="password" class="form-control" pattern="^(.[^0-9]*|[^A-Z]*|[a-zA-Z0-9]*)$" name="password" placeholder="Enter Password" minlength="8" required ngModel><br></div><br>
  <div class="text-center"><button type="submit" class="btn btn-primary btn-lg" [disabled]="userForm.invalid">Submit</button></div>
  </form>
</div>
